body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f5f5f5;
}

/* Header */
.top-bar {
    background: white;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ddd;
}

.logo {
    font-size: 20px;
    font-weight: bold;
    margin-right: 20px;
}

.search {
    flex: 1;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #ccc;
}

.icons {
    display: flex;
    gap: 15px;
    font-size: 18px;
    margin-left: 20px;
}

/* Layout */
.container {
    display: flex;
}

/* Sidebar */
.sidebar {
    width: 220px;
    background: white;
    padding: 20px;
    border-right: 1px solid #ddd;
    height: calc(100vh - 60px);
    overflow-y: auto;
}

.new-btn {
    background: whitesmoke;
    color: black;
    border: none;
    padding: 15px;
    width: 50%;
    border-radius: 8px;
    margin-bottom: 20px;
    cursor: pointer;
    font-size: 16px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    padding: 10px 0;
    cursor: pointer;
}

.sidebar .active {
   
    color: black;
}

.storage-text {
    margin-top: 30px;
    font-size: 12px;
    color: gray;
}

.upgrade-btn {
    margin-top: 10px;
    width: 100%;
    padding: 8px;
    border: 1px solid #1a73e8;
    color: #1a73e8;
    border-radius: 5px;
    background: white;
}

/* Main Content */
.content {
    flex: 1;
    padding: 30px;
}

h2 {
    margin-top: 0;
}

h2 {
    
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
        font-weight: normal;

}
.files {
    width: 100%;
    border-collapse: collapse;
    background: white;
    margin-top: 15px;
}

.files th, .files td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

.files th:nth-child(2),
.files th:nth-child(3),
.files th:nth-child(4),
.files td:nth-child(2),
.files td:nth-child(3),
.files td:nth-child(4) {
    text-align: center;
}

.files td img {
    vertical-align: middle;
    margin-right: 8px;
}

.files th {
    font-weight: normal;
}

.files tr:hover {
    background-color: #f0f8ff;
}

